@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h3>Application showing how to validate an encrypted JWT (JWE).</h3>
        @if (User.Identity.IsAuthenticated)
        {
            <div>User: @User.Identity.Name</div>
            <div>Press: 'Log Out' to clear user.</div>
        }
        else
        {
            <div>User: Unauthenticated</div>
            <div>Press: 'Log In' to get JWE</div>
        }
    </div>
</div>
