@{
    ViewData["Title"] = "Error";
}

<h3 class="text-danger">You need to set TokenValidationParameters.TokenDecryptionKey</h3>
<p>
    <p>TokenValidationParameters = new Microsoft.IdentityModel.Tokens.TokenValidationParameters</p>
    <p>{</p>
    <p style="text-indent: 2em;">TokenDecryptionKey = new SecurityKey(...)</p>
    <p>}</p>
</p>
